@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('../fonts/PlayfairDisplayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muller';
    src: url('../fonts/ofont.ru_Muller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muller';
    src: url('../fonts/ofont.ru_Mullerbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}